body{
	font-family:helvetica;
	color:#000000;
    font-size:11px;
    padding:10px;
}
a{
	color:#aaaaaa;
}

/* for charts and maps */
 #container1{
     padding:10px;
	 position:absolute;
	 left:0px;
     top:100px;
     line-height:90%;
     width:180px;
     border-right:1px solid black;
 }
 #container2{
     padding:10px;
	 position:absolute;
	 left:200px;
     top:100px;
     line-height:90%;
     width:380px;
     border-right:1px solid black;
 }
 #container3{
     padding:10px;
	 position:absolute;
	 left:580px;
     top:100px;
     line-height:90%;
     width:800px;
     height:100%;
 }
 .dc-data-count{
     z-index:999;    
     width:600px; 
     font-size:14px;
     color:#c96840;
 }
 #map{
     height:800px;
     padding:20px;
 }
 #population{
     text-align:left;
     z-index:999;
     width:600px; 
     font-size:14px;
     color:#c96840;
 }
 #title{
     position:fixed;
     left:0px;
     top:0px;
     padding:10px;
     height:80px;
     background-color:#fff;
     width:100%;
     z-index:999;
     font-size:24px;
     border-bottom:1px solid black;
 }

 .factors{
     font-size:10px;
 }