body{
	font-family:helvetica;
	color:#000000;
    font-size:14px;
    padding:10px;
}
a{
	color:#aaaaaa;
}

/* for charts and maps */
 #container{
     padding:10px;
	 position:absolute;
	 left:0px;
     top:80px;
     line-height:90%;
 }

 .dc-data-count{
     position:fixed;
     left:0px;
     top:20px;
     background-color:#fff;
     padding:10px;
     width:100%;
     z-index:999;
     border-bottom:1px solid black;
     
 }
 #title{
     position:fixed;
     left:0px;
     top:0px;
     padding:10px;
     height:20px;
     background-color:#fff;
     width:100%;
     z-index:999;
     font-size:24px;
 }
 .factors{
     font-size:10px;
 }